<nav>
  <form action="/products">
    <input type="submit" value="INDEX" id="button"/>
  </form>
  <form action="/products/new">
    <input type="submit" value="CREATE NEW" id="button"/>
  </form>
  <form action="/products/favorites">
    <input type="submit" value="FAVORITES" id="button">
  </form>
</nav>
