<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Product Edit Page</h1>
    <form action="/product/<%=product%>/?_method=put" method="post">
      Name: <input type="text" name="name" id="name" value="<%=product.name%>"/><br />
      Description: <textarea name="description" id="description"><%= product.description %></textarea
      ><br />
      Did you finish this product?
      <input
        type="checkbox"
        name="finishedProduct"
        id="finishedProduct"
      <% if (product.finishedProduct === true) { %>
        checked
        <% } %>
        />
      <br>
      If you finished it, How long did it last?
      <input type="text" name="timeLasted" id="timeLasted" value="<%=product.timeLasted%>"/><br />
      Would you like to add this to favorites?
      <input type="checkbox" name="addToFavorites" id="addToFavorites" 
      <% if (product.addToFavorites === true ) { %> 
        checked
        <% } %>
      /><br />
      <input type="submit" value="Create Product Log" />
    </form>
  </body>
</html>
