body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

textarea {
  resize: none;
}

nav {
  display: flex;
}

nav form {
  margin-right: 10px;
  margin-left: 10px;
}

#isFavorite {
  display: none;
}

#button {
  height: 30px;
  border-radius: 7%;
  border-width: 0.5px;
}

p {
  margin: 20px;
}